body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;

}

.form-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.notes-container {
    width: 45%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;


}

.notes {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note {
   
    border-bottom: 1px solid black;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
}

.edit-btn{
    color: blue;
    border: #ddd;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
}

.delete-btn{
    color: red;
    border: white;
    cursor: pointer;
    font-size: 20px;
       border-radius: 20px;
}

.postflex{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}